<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:replace="fragment/header :: common_header"/>

    <style>
        body{
            background: linear-gradient(to right, #c04848, #480048);
        }
        h1{
            color: white;
            text-align: center;
        }
        .container{
            max-width: 560px;
        }
    </style>
    <title>This is 4xx Error Page</title>
</head>

<body>

<div class="container">
    <h1 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900">This is 4xx Error Page</h1>
    <h3>
        <div th:text="|ErrorCode = ${errorCode}|"></div>
        <div th:text="|ErrorStatus = ${httpStatus}|"></div>
    </h3>
</div>
</body>
</html>